<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Nuevo producto</h1>
    <form method="post" action="#"
          th:action="@{/producto/submit}"
          th:object="${producto}">

        <input type="hidden"
               id="identificador"
               th:field="*{id}" />

        <input type="text"
               id="nombre" placeholder="Nombre"
               th:field="*{nombre}" />

        <input type="number"
               id="precio" placeholder="1.0"
               th:field="*{precio}" />

        <input type="number"
               id="unidadesEnStock" placeholder="1"
               th:field="*{unidadesEnStock}" />

        <input type="text"
               id="descripcion" placeholder="Descripcion"
               th:field="*{descripcion}" />

        <input type="submit"
               value="Enviar" />

    </form>
</body>
</html>