<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/producto/new}">Crear nuevo producto</a>
    <h1>Mi lista de productos</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Unidades en Stock</th>
            <th>Descripcion</th>
        </tr>
        <tr th:each="producto : ${lista}">
            <td th:text="${producto.nombre}">Onions</td>
            <td th:text="${producto.precio}">2.41</td>
            <td th:text="${producto.unidadesEnStock}">2</td>
            <td th:text="${producto.descripcion}">Onions</td>
        </tr>
    </table>


</body>
</html>